    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Tabbed Services</h2>
                <div ng-controller="TabsDemoCtrl"> 

                  <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="TAB1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat gravida interdum. Quisque semper, mauris a dignissim finibus, urna tellus cursus arcu, ac euismod ante lectus nec nibh. Sed a mi vitae lectus posuere sollicitudin.</uib-tab>
                    <uib-tab index="1" heading="TAB1"> In euismod, augue nec mollis elementum, lacus arcu malesuada massa, ullamcorper maximus metus nisi eget magna. Aenean ut vestibulum erat. In finibus imperdiet ante, vel malesuada ex vehicula ac. Sed hendrerit erat eget nibh condimentum euismod. </uib-tab>
                    <uib-tab index="2" heading="TAB1">Donec commodo hendrerit tincidunt. Donec laoreet, eros vel malesuada volutpat, nibh diam euismod augue, nec venenatis augue ligula vulputate quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus varius, nunc ullamcorper tempor feugiat, odio metus convallis enim, et malesuada dui mauris non risus. Morbi blandit semper enim vel condimentum.</uib-tab>
                  </uib-tabset>
                </div>
        </div>

    </div>