 <div class="col-sm-12">
            <div class="panel panel-default">
      
                <div class="panel-body">
                 <div class="col-md-6 paddingoff">
                        <img src="https://dummyimage.com/600x400/000/fff" alt="athome" class="img-responsive">
                    </div>
                    <div class="panel-title col-md-6 text-left">
                    <h2></h2>
                    <h3>remque laudantium, totam rem.ed ut perspiciatis unde omnis iste natus error sit voluptatem accusanti umdoloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt lacina duis.</h3>
                    <div class="col-md-12">
                        <h5><span class="addat">@</span> Computer Service</h5>                 
                        <h5><span class="addat">@</span> Computer Service</h5>                  
                        <h5><span class="addat">@</span> Computer Service</h5> 
                    </div>                 

                    </div>
                   
                </div>
            </div>
        </div>